<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net48" />
  <package id="GraphQL" version="2.4.0" targetFramework="net48" />
  <package id="GraphQL-Parser" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net48" />
  <package id="protobuf-net" version="2.4.6" targetFramework="net48" />
  <package id="Sitecore.Annotations" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Buckets.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Client.LicenseOptions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.ContentExtraction" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Data" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Data.ResourceItems.ProtobufNet" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceEditor.Speak.Ribbon" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Conditions" version="6.0.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Data.Blobs" version="3.0.1" targetFramework="net48" />
  <package id="Sitecore.Framework.Data.Blobs.Abstractions" version="3.0.1" targetFramework="net48" />
  <package id="Sitecore.ItemWebApi" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Kernel.Portable" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Logging" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Logging.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Mvc.ExperienceEditor" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Nexus.Consumption" version="1.6.0" targetFramework="net48" />
  <package id="Sitecore.Nexus.Licensing" version="2.0.6" targetFramework="net48" />
  <package id="Sitecore.Screenshots" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Core" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.GraphQL" version="8.0.10" targetFramework="net48" />
  <package id="Sitecore.Services.GraphQL.ContentSchema" version="8.0.10" targetFramework="net48" />
  <package id="Sitecore.Services.GraphQL.EdgeSchema" version="8.0.10" targetFramework="net48" />
  <package id="Sitecore.Services.GraphQL.NetFxHost" version="8.0.10" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Applications" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Client" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.ItemWebApi" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.Web" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Abstractions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Caching" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Common" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Editing" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Geospatial" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Horizon" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.LocalDatasources" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.MarkupDecorator" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.MediaRequestHandler" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Multisite" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.PlaceholderSettings" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Presentation" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Scaffolding" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Search" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.StandardValues" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Theming" version="10.4.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.TokenResolution" version="10.4.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Core" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="4.4.1" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="4.4.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>