<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Search foundation module.

The Search foundation module configures the search API that is used by search renderings.

To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<customResolveBoostingQuery>
				<processor type="UniCal.Foundation.Search.Pipelines.CustomResolveBoostingQuery.ResolveFieldAndQueryMatchRule, UniCal.Foundation.Search" resolve="true" />
				<processor type="UniCal.Foundation.Search.Pipelines.CustomResolveBoostingQuery.ResolveFieldContainsCurrentPageFieldRule, UniCal.Foundation.Search" resolve="true" />
			</customResolveBoostingQuery>
		</pipelines>
	</sitecore>
</configuration>