<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery or XMCloud" search:require="solr">
		<contentSearch>
			<indexConfigurations>

				<docsConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
						<fieldTypes hint="raw:AddFieldByFieldName">
							<field fieldName="area" returnType="string" />
							<field fieldName="rubrica" returnType="string" />
						</fieldTypes>
					</fieldMap>
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<indexAllFields>false</indexAllFields>
						<include hint="list:AddIncludedField">
							<Titolo>{1BF8F362-D614-4B10-B1F4-B9CAA726D37E}</Titolo>
							<Area>{62CA7AB2-D39A-49BE-99E8-5FB5293A8D18}</Area>
							<Rubrica>{529C4CD4-8A76-47F5-9C79-E1336A2DC6BF}</Rubrica>
						</include>
						<fields hint="raw:AddComputedIndexField">							
							<field fieldName="searchable">Sitecore.XA.Foundation.Search.ComputedFields.Searchable, Sitecore.XA.Foundation.Search</field>
							<field fieldName="sxacontent" returnType="textCollection">Sitecore.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.XA.Foundation.Search</field>
						</fields>
						<include hint="list:AddIncludedTemplate">
							<Article>{4781D4F2-FAA6-4A26-A02A-0262B3AB6A33}</Article>
							<News>{E7ED2D7A-A817-4A7D-849D-706F7A828DF0}</News>
						</include>
					</documentOptions>
				</docsConfiguration>

			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>