<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery or XMCloud" search:require="solr">
		<contentSearch>
			<indexConfigurations>

				<docsConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
						<fieldTypes hint="raw:AddFieldByFieldName">
							<field fieldName="area" returnType="string" />
							<field fieldName="rubrica" returnType="string" />
						</fieldTypes>
					</fieldMap>
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions">
						<indexAllFields>false</indexAllFields>
						<include hint="list:AddIncludedField">
							<Area>{BE926CAE-32AD-4091-8D89-7DAE77CD5222}</Area>
							<Rubrica>{379E5A05-9248-4973-96DB-ED4F4EA205C9}</Rubrica>
						</include>
						<fields hint="raw:AddComputedIndexField">							
							<field fieldName="searchable">Sitecore.XA.Foundation.Search.ComputedFields.Searchable, Sitecore.XA.Foundation.Search</field>
							<field fieldName="sxacontent" returnType="textCollection">Sitecore.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.XA.Foundation.Search</field>
						</fields>
						<include hint="list:AddIncludedTemplate">
							<Article>{3CA9447E-74B0-4538-9743-08B41A64CDF2}</Article>
							<News>{A31A70B9-F9FE-4075-8959-407EEA3E2277}</News>
						</include>
					</documentOptions>
				</docsConfiguration>

			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>